{{define "content"}}
<div style="color: #636363; font-size: 14px">
  <p style="margin-top: 0px">
    Hi {{if not (eq .buyer.Firstname "")}} {{ .buyer.Firstname }} {{else}} {{
    .buyer.EmailAddress }} {{end}}
  </p>
  <p style="margin-top: 0px">
    {{if not (eq .seller.Firstname "")}} {{ .seller.Firstname }} {{else}} {{
    .seller.EmailAddress }} {{end}} has sent you a new transaction "{{if not (eq
    .transaction.Title "")}} {{ .transaction.Title }} {{else}} {{
    .transaction_id }} {{end}}"
  </p>
  <p>Here is the full details:</p>
  <table class="table table-bordered">
    {{if eq .transaction.Type "product"}}
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Quantity</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      {{range $index, $product := .transaction.Products }}
      <tr>
        <td scope="col">{{$product.Title}}</td>
        <td scope="col">{{$product.Quantity}}</td>
        <td scope="col">{{ $.transaction.Currency }} {{$product.Amount}}</td>
      </tr>
      {{end}}
    </tbody>
    {{end}} {{if eq .transaction.Type "oneoff"}}
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ .transaction.Title }}</td>
        <td>{{ .transaction.Description }}</td>
        <td>{{ .transaction.Currency }} {{ .transaction.Amount }}</td>
        <td>{{ .transaction.Status }}</td>
      </tr>
    </tbody>
    {{end}} {{if eq .transaction.Type "milestone"}}
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Amount</th>
        <th scope="col">Deadline</th>
        <th scope="col">Inspection</th>
      </tr>
    </thead>
    <tbody>
      {{range $index, $milestone := .transaction.Milestones}}
      <tr>
        <td scope="col">{{ $milestone.Title }}</td>
        <td scope="col">
          {{ $.transaction.Currency }} {{ $milestone.Amount }}
        </td>
        <td scope="col">{{ $milestone.DueDate }}</td>
        <td scope="col">
          {{$milestone.InspectionPeriod | FormatInspectionPeriod}}
        </td>
      </tr>
      {{end}}
    </tbody>
    {{end}}
  </table>

  <p>
    You can
    <a href="{{.dashboard}}">login here</a>
    to accept the terms and make payment if it meets your initial agreement.
  </p>

  <p>
    If you have any question or request, please send an e-mail to
    support@.com and we will respond promptly.
  </p>
</div>
{{end}}
