{{define "content"}}
<div style="padding: 20px 0px; border-top: 1px solid rgba(0, 0, 0, 0.05)">
  <h1 style="margin-top: 0px">Dear {{ .firstname }}</h1>
  <div style="color: #636363; font-size: 14px">
    <p>
      This is to inform you that the supplied {{ .type }} could not be verified
      on our platform for these reasons: <br />
      {{ .reason }}.
    </p>

    <p>
      Please login to your dashboard
      <a href="https://.com/account/settings">here</a> and supply your
      valid {{ .type }}.
    </p>

    <p>Thank you for choosing .</p>

    If you have any questions, be sure to check our FAQ page
    <a href="{{.faq}}" target="_blank">here</a> or send an email to
    support@.com
  </div>
</div>
{{end}}
