<!DOCTYPE html>
<html>
  <body
    style='background-color: #222533; padding: 20px; font-family: font-size: 14px; line-height: 1.43; font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;'
  >
    <div
      style="
        max-width: 600px;
        margin: 10px auto 20px;
        font-size: 12px;
        color: #a5a5a5;
        text-align: center;
      "
    >
      If you are unable to see this message,
      <a href="#" style="color: #a5a5a5; text-decoration: underline"
        >click here to view in browser</a
      >
    </div>
    <div
      style="
        max-width: 600px;
        margin: 0px auto;
        background-color: #fff;
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
      "
    >
      <table style="width: 100%">
        <tr>
          <td style="background-color: #fff">
            {{if not (eq .business_logo_uri "")}}
            <img
              alt=""
              src="{{ .business_logo_uri }}"
              width="200px"
              height="50px"
            />
            {{else}}
            <img
              alt=""
              src="https://i.ibb.co/qRywKpr/Webp-net-resizeimage.png"
            />
            {{end}}
          </td>
          <td
            style="padding-left: 50px; text-align: right; padding-right: 20px"
          >
            <a
              href="https://.com/login"
              style="
                color: #261d1d;
                text-decoration: underline;
                font-size: 14px;
                letter-spacing: 1px;
              "
              >Sign In</a
            >
          </td>
        </tr>
      </table>
      <div style="padding: 20px 0px; border-top: 1px solid rgba(0, 0, 0, 0.05)">
        <h4 style="margin-top: 0px">
          Hi {{if not (eq .buyer.Firstname "")}} {{ .buyer.Firstname }} {{else}}
          {{ .buyer.EmailAddress }} {{end}}
        </h4>
        <div style="color: #636363; font-size: 14px">
          <p>
            {{if not (eq .seller.Firstname "")}} {{ .seller.Firstname }}
            {{else}} {{ .seller.EmailAddress }} {{end}} has sent you a proposal
            to extend the due date of the transaction #{{ .transaction_id }}
            .Login to see more.
          </p>

          <p>
            If you have any question or request, please send an e-mail to
            support@.com and we will respond promptly.
          </p>
        </div>
        <!-- <a href="https://.com/login" style="padding: 8px 20px; background-color: #3BB75E; color: #fff; font-weight: bolder; font-size: 16px; display: inline-block; margin: 20px 0px; margin-right: 20px; text-decoration: none;">View Transaction</a> -->
      </div>
      <div style="background-color: #f5f5f5; padding: 40px; text-align: center">
        <div
          style="
            color: #a5a5a5;
            font-size: 12px;
            margin-bottom: 20px;
            padding: 0px 50px;
          "
        >
          You are receiving this email because you signed up for  
          Serivices
        </div>
        <div
          style="
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
          "
        >
          <div style="color: #a5a5a5; font-size: 10px; margin-bottom: 5px">
            16 Alhaji Mudashiru street, Osapa-London, Lekki, Lagos.
          </div>
          <div style="color: #a5a5a5; font-size: 10px">
            © Copyright {{.year}},  Innovative Technologies. All rights
            reserved.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
