{{define "content"}}
<div style="color: #636363; font-size: 14px">
  <p>
    Dear {{if not (eq .buyer.Firstname "")}} {{ .buyer.Firstname }} {{else}} {{
    .buyer.EmailAddress }} {{end}},
  </p>

  <p>
    The transaction "{{if not (eq .transaction.Title "")}} {{ .transaction.Title
    }} {{else}} {{ .transaction_id }} {{end}}" window has been closed as the
    transaction was successfully completed. You can always initiate a new
    transaction by signing back into your account
    <a href="{{.dashboard}}">here</a>.
  </p>
  <p>
    If you need further help, check our
    <a href="{{.faq}}">FAQ page </a> or send an email to
    <a href="mailto:support@.com">support@.com</a>.
  </p>

  <br />
  <p>Thanks for choosing </p>
</div>
{{end}}
